/* Title slide */
.title-slide .remark-slide-number {
  display: none;
}

.title-slide h2 {
  border-bottom: 2px solid firebrick;
  margin-bottom: 200px;
}

.title-slide h3 {
  margin-bottom: 0;
  margin-top: 0;
  text-align: right;
}

/* Slide title style */
.remark-slide-content:not(.title-slide) h1:first-child {
  color: ivory;
  background-color: #1D1E19;
  margin: -0.6em -2.2em 0.7em -2.2em;
  padding: 0.5em 0 0.5em 2em;
}

.inverse.remark-slide-content:not(.title-slide) h1:first-child {
  color: #1D1E19;
  background-color: #FFFFFF;
}

/* Column styles */
.left-column h2, .left-column h3 {
  color: #CCCCCC;
}

.left-column h2:last-of-type, .left-column h3:last-child {
  color: black;
}

.right-column {
  padding: 0;
}

/* Held figures/tables */
.held {
  display: flex;
  justify-content: center;
  align-items: center;
}

  .held table {
    margin: auto 0;
  }

/* Font size control */
.body { font-size: 20px; } /* Base font size */
.remark-code { font-size: 0.9em; }
.smaller { font-size: 0.75em; }
.smaller .remark-code { font-size: 0.6em; }
.small { font-size: 0.85em; }
.small .remark-code {font-size: 0.7em; }
.big {font-size: 1.15em; }
.big .remark-code { font-size: 1em; }
.huge {font-size: 1.25em; }
.huge .remark-code {font-size: 1.15em; }

.remark-slide-content h1 {font-size: 2em;}
.remark-slide-content h2 {font-size: 1.35em;}
.remark-slide-content h3 {font-size: 1.15em;}
.remark-slide-content h4 {font-size: 1em;}

/* Element tiling */
.tile {
  display: flex;
  flex-wrap: wrap;
}

/* Note box */
.note {
  position: relative;
  font-size: 1em;
  background-color: #CCCCCC;
  padding: 1px 1.25em 1px 1.25em;
}

.note svg {
  float: left;
  margin: 0 0.75em 0.2em 0;
}

.note.yellow { background-color: #FFF4CC; }
.note.red { background-color: #FEDEDF; }
.note.midnight {
  background-color: #1D2F55;
  color: #EEEEEE;
}
