/* Slide classes */
.no-header h1 {
  display: none;
}

/* Title slide */
.title-slide .remark-slide-number {
  display: none;
}

.title-slide h2 {
  border-bottom: 2px solid firebrick;
  margin-bottom: 200px;
}

.title-slide h3 {
  margin-bottom: 0;
  margin-top: 0;
  text-align: right;
}

/* Section title or similar */
.title {
}

.title h1 {
  color: #333;
  margin-top: 25%;
  border-bottom: 1px solid firebrick;
}

/* Slide title style */
.remark-slide-content:not(.title-slide, .title) h1:first-child {
  color: #F1F1F1;
  background-color: #1D1E19;
  margin: -0.6em -2.2em 0.7em -2.2em;
  padding: 0.5em 0 0.5em 2em;
}

.inverse.remark-slide-content:not(.title-slide, .title) h1:first-child {
  color: #1D1E19;
  background-color: #FFFFFF;
}

/* Quote slide style */
.remark-slide-content.quote blockquote {
  display: flex;
  font-size: 3em;
}

blockquote {
  background-color: #EEE;
  padding-right: 1em;
  font-style: italic;
}

blockquote span {
  display: block;
  text-align: right;
  font-size: 0.75em;
}

/* Column styles */
.left-column h2, .left-column h3 {
  color: #CCCCCC;
}

.left-column h2:last-of-type, .left-column h3:last-child {
  color: black;
}

.right-column {
  padding: 0;
  float: none;
  width: 75%;
  padding-left: 25%;
}

.left-column h2:first-of-type {
  margin-top: 0;
}

/* Held figures/tables */
.held {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 1em auto;
}

  .held table, .held div, .held pre {
    margin: 0 1em;
  }

/* Some useful flexbox classes */
.space-around {
  justify-content: space-around;
}

/* Figures and captions */
figure {
  display: inline-block;
}

figure figcaption {
  width: 100%;
  text-align: left;
}

/* Framed images */
.framed img {
  border: 1px solid gray;
}

/* Font size control */
.remark-code { font-size: 0.9em; }
.smaller { font-size: 0.75em; }
.smaller .remark-code { font-size: 0.6em; }
.small { font-size: 0.85em; }
.small .remark-code {font-size: 0.7em; }
.big {font-size: 1.15em; }
.big .remark-code { font-size: 1em; }
.huge {font-size: 1.25em; }
.huge .remark-code {font-size: 1.15em; }

.remark-slide-content h1 {font-size: 2em;}
.remark-slide-content h2 {font-size: 1.35em;}
.remark-slide-content h3 {font-size: 1.15em;}
.remark-slide-content h4 {font-size: 1em;}

/* Element tiling */
.tile {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

  .tile-item.width33 {
    max-width: 33%;
  }

  .tile-item.width50 {
    max-width: 50%;
  }

.spaced * {
  margin: 0.5em;
}

iframe {
  display: block;
  width: 100%;
}

/* Note box */
.note {
  position: relative;
  font-size: 1em;
  background-color: #CCCCCC;
  padding: 1px 1.25em 1px 1.25em;
}

.note svg {
  float: left;
  margin: 0 0.75em 0.2em 0;
}

.note.yellow { background-color: #FFF4CC; }
.note.red { background-color: #FEDEDF; }
.note.midnight {
  background-color: #1D2F55;
  color: #EEEEEE;
}

/* Excel style tables */
.excel {
  border-spacing: 0;
  border-collapse: collapse;
}

  .excel td, table.excel thead th {
    background-color: white;
    border: 1px solid gray;
    margin: 0;
  }

/* Only clear last pull-right */
.pull-right:not(div:last-of-type) {
  clear: none;
}

.pull-right + * {
    clear: right;
}

.pull-left, .pull-right {
  width: 48%;
}

.pull-left-75, .pull-right-75 {
  width: 73%;
}

.pull-left-60, .pull-right-60 {
  width: 58%;
}

.pull-left-40, .pull-right-40 {
  width: 38%;
}

.pull-left-25, .pull-right-25 {
  width: 23%;
}

.pull-left-75, .pull-left-60, .pull-left-40, .pull-left-25 {
  float: left;
}

.pull-right-75, .pull-right-60, .pull-right-40, .pull-right-25 {
  float: right;
}