/*
All the !important flags in this style sheet are needed due to
the way that stylesheets are handled by the revealjs package.
This stylesheet will always be loaded before the theme, so most of
these things will be overruled by the theme.
*/

/* Background colour */
body {
  background-color: #222;
}

/* Title slide layout */
.reveal .slides section:first-child {
  display: flex !important;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

  .reveal .slides section:first-child .title {
    flex-grow: 3;
    margin: 0;
  }

  .reveal .slides section:first-child .subtitle {
    flex-grow: 2;
    margin: 0;
  }
  
  .reveal .slides section:first-child .author {
    margin: 0;
  }
  
  .reveal .slides section:first-child .date {
    margin-top: 1em;
  }

/* Slide layout */
.reveal .slides {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* Code blocks */
.reveal pre {
  box-shadow: none;
}

  .reveal pre code {
    overflow: visible;
  }

/* Remove figure borders */
.slides img {
  background-color: transparent !important;
  border: none !important;
  box-shadow: none !important;
}

/* Multi-column slides */
.slides .multicol {
  display: flex !important;
  align-items: center;
  justify-content: space-around;
}

.slides .multicol div { }

/* Some classes for controlling font sizes */
.small {
  font-size: 0.8em !important;
}

.smaller {
  font-size: 0.5em !important;
}

/* Text justification */
.left-justify {
  text-align: left;
}

/* Figures */
.slides section figure img {
  margin-bottom: 0;
} 

.slides section figure figcaption {
  margin-top: -2ex;
  margin-left: 3em;
  float: left;
  font-size: 0.6em;
}