.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
**/*cache/
docs/LICENSE
docs/img/
docs/scripts/
docs/**/_*
docs/**/*.Rmd
docs/**/*.md
*___packages
*.RData
*.rdb
*.rdx
lectures/data/challenge.*
.httr-oauth
data/aspwood/*
!data/aspwood/README.md